<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>

    <key>Label</key>
    <string>com.clearLogs.daemon.plist</string>

    <key>ProgramArguments</key>
    <array>
      <string>bash</string>
      <string>clear-logs.sh</string>
    </array>

    <key>WorkingDirectory</key>
    <string>/Users/leonmaksin/Documents/bash-scripts/close-apps-daemon</string>

    <key>StartInterval</key>
    <integer>3600</integer>

    <key>StandardErrorPath</key>
    <string>/Users/leonmaksin/Documents/bash-scripts/close-apps-daemon/error2.log</string>

    <key>StandardOutPath</key>
    <string>/Users/leonmaksin/Documents/bash-scripts/close-apps-daemon/out2.log</string>

    <key>RunAtLoad</key>
    <true/>

  </dict>
</plist>